{% extends  ':Subject:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Uredi predmet
{% endblock %}

{% block navBarLinks %}
    <li><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
    <li><a href="{{ path('subject_index') }}">Predmeti</a></li>
    <li><a href="/profile/change-password">Promijeni lozinku</a></li>
    <li><a href="/logout">Odjavi se</a></li>
{% endblock %}

{% block content %}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <h2>
        <center>Uredi predmet</center>
    </h2>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div>
        <input class="btn btn-primary btn-block" type="submit" value="Uredi"/>
    </div>

    {{ form_end(edit_form) }}


    {{ form_start(delete_form) }}
    <input class="btn btn-primary btn-block" type="submit" value="Obriši">
    {{ form_end(delete_form) }}
{% endblock %}