{% extends 'Subject/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table_student.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Popis predmeta
{% endblock %}
{% block navBarLinks %}
    <li><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
    <li class="active"><a href="{{ path('subject_index') }}">Predmeti</a></li>
    <li><a href="/profile/change-password">Promijeni lozinku</a></li>
    <li><a href="/logout">Odjavi se</a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row pagination-centered">
            <div class="col-md-6 col-md-offset-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th><a href="{{ path('subject_new') }}">Novi predmet</a></th>
                    </tr>
                    </thead>
                    <tbody id="lista_predmeta">
                    {% for subject in subjects %}
                        <tr>
                            <td> {{ subject.ime }} ({{ subject.kod }}) <a
                                        href="{{ path('subject_show', {'id': subject.id}) }}">Detalji</a> <a
                                        href="{{ path('subject_edit', {'id': subject.id}) }}">Uredi</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/predmeti.js') }}"></script>
{% endblock %}