{% extends ':Subject:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Novi predmet
{% endblock %}

{% block navBarLinks %}
    <li><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
    <li><a href="{{ path('subject_index') }}">Predmeti</a></li>
    <li><a href="/profile/change-password">Promijeni lozinku</a></li>
    <li><a href="/logout">Odjavi se</a></li>
{% endblock %}

{% block content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h2>
        <center>Kreiraj predmet</center>
    </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary btn-block" type="submit" value="Kreiraj"/>
    </div>
    {{ form_end(form) }}
{% endblock %}