{% extends 'Subject/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table_student.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Prikaz predmeta
{% endblock %}

{% block navBarLinks %}
    <li><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
    <li><a href="{{ path('subject_index') }}">Predmeti</a></li>
    <li><a href="/profile/change-password">Promijeni lozinku</a></li>
    <li><a href="/logout">Odjavi se</a></li>
{% endblock %}

{% block content %}

    <h2>
        <center>Predmet</center>
    </h2>
    <div class="container-fluid">
        <div class="row pagination-centered">
            <div class="col-md-6 col-md-offset-3">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ subject.id }}</td>
                    </tr>
                    <tr>
                        <th>Ime</th>
                        <td>{{ subject.ime }}</td>
                    </tr>
                    <tr>
                        <th>Kod</th>
                        <td>{{ subject.kod }}</td>
                    </tr>
                    <tr>
                        <th>Program</th>
                        <td>{{ subject.program }}</td>
                    </tr>
                    <tr>
                        <th>Bodovi</th>
                        <td>{{ subject.bodovi }}</td>
                    </tr>
                    <tr>
                        <th>Semestar redovni</th>
                        <td>{{ subject.semRedovni }}</td>
                    </tr>
                    <tr>
                        <th>Semestar izvanredni</th>
                        <td>{{ subject.semIzvanredni }}</td>
                    </tr>
                    <tr>
                        <th>Izborni</th>
                        <td>{{ subject.izborni }}</td>
                    </tr>
                    </tbody>
                </table>


                {{ form_start(delete_form) }}
                <input class="btn btn-primary btn-block" type="submit" value="Obriši">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}


