#logo {
    color: white;
    text-decoration: none;
}

body {
    padding-top: 50px;
    background-image: url('../../images/background_image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
