{% extends 'Student/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table_student.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Upisni list
{% endblock %}

{% block navBarLinks %}
    {% if is_granted('ROLE_STUDENT') %}
        <li class="active"><a href="{{ path('student_homepage') }}">Upisni list</a></li>
        <li><a href="/profile/change-password">Promijeni lozinku</a></li>
        <li><a href="/logout">Odjavi se</a></li>
    {% endif %}
    {% if is_granted('ROLE_MENTOR') %}
        <li><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
        <li><a href="{{ path('subject_index') }}">Predmeti</a></li>
        <li><a href="/profile/change-password">Promijeni lozinku</a></li>
        <li><a href="/logout">Odjavi se</a></li>
    {% endif %}
{% endblock %}


{% block content %}
    <div style="display: none" id="token">{{ token }}</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Predmeti:</h2>
                <div class="sadrzaj">
                    <ul class="list-group" id="neupisani_predmeti_studenta">
                        {% for predmet in neupisani %}
                            <li class="list-group-item"><a href="javascript:void(0)" id="{{ predmet.id }}"><i
                                            class="fa fa-plus-square fa-lg"
                                            aria-hidden="true"></i></a> {{ predmet.ime }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>


            </div>

            <div class="col-md-6" id="upisani_predmeti_studenta">

                <h2>Upisi ({{ student.username }})</h2>
                <span style="display: none" id="korisnik">{{ student.id }}</span>
                <h3>Semestar 1:</h3>
                <table class="table table-bordered">
                    <tbody id="prviSemestar">

                    {% for predmet in prviSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 2:</h3>
                <table class="table table-bordered">
                    <tbody id="drugiSemestar">

                    {% for predmet in drugiSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 3:</h3>
                <table class="table table-bordered">
                    <tbody id="treciSemestar">

                    {% for predmet in treciSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 4:</h3>
                <table class="table table-bordered">
                    <tbody id="cetvrtiSemestar">

                    {% for predmet in cetvrtiSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 5:</h3>
                <table class="table table-bordered">
                    <tbody id="petiSemestar">

                    {% for predmet in petiSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 6:</h3>
                <table class="table table-bordered">
                    <tbody id="sestiSemestar">

                    {% for predmet in sestiSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 7:</h3>
                <table class="table table-bordered">
                    <tbody id="sedmiSemestar">

                    {% for predmet in sedmiSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Semestar 8:</h3>
                <table class="table table-bordered">
                    <tbody id="osmiSemestar">

                    {% for predmet in osmiSemestar %}
                        <tr>
                            <td>
                                {% if predmet.status == 'upisano' %}
                                    <a href="javascript:void(0)"><i id="{{ predmet.id }}"
                                                                    class="fa fa-check-square-o fa-lg"
                                                                    aria-hidden="true"></i></a>
                                {% else %}
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                {% endif %}
                                <a href="javascript:void(0)"><i id="{{ predmet.id }}" class="fa fa-times fa-lg"></i></a>
                                {{ predmet.ime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_STUDENT') %}
        <script src="{{ asset('js/izvanredni_student.js') }}"></script>
    {% endif %}
    {% if is_granted('ROLE_MENTOR') %}
        <script src="{{ asset('js/mentor_izvanredni_student.js') }}"></script>
    {% endif %}
{% endblock %}