{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Potvrđeno
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block navBarLinks %}
    <li><a href="{{ path('student_homepage') }}">Upisni list</a> </li>
    <li><a href="/profile/change-password">Promijeni lozinku</a></li>
    <li><a href="/logout">Odjavi se</a></li>
{% endblock %}

{% block fos_user_content %}
    <div class="container-fluid">
        <div class="row pagination-centered">
            <div class="col-md-6 col-md-offset-3" style="background-color: rgba(255,255,255,0.8)">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
