
{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Registriraj se
{% endblock %}

{% block navBarLinks %}
    <li><a href="/login">Logiraj se</a></li>
    <li class="active"><a href="/register">Registriraj se</a></li>
{% endblock %}

{% block fos_user_content %}
    <h2><center>Registriraj se</center></h2>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
