{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Promijeni šifru
{% endblock %}


    {% block navBarLinks %}
        {% if is_granted('ROLE_STUDENT') %}
            <li><a href="{{ path('student_homepage') }}">Upisni list</a></li>
            <li class="active"><a href="/profile/change-password">Promijeni lozinku</a></li>
            <li><a href="/logout">Odjavi se</a></li>
        {% endif %}
        {% if is_granted('ROLE_MENTOR') %}
            <li><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
            <li><a href="{{ path('subject_index') }}">Predmeti</a></li>
            <li class="active"><a href="/profile/change-password">Promijeni lozinku</a></li>
            <li><a href="/logout">Odjavi se</a></li>
        {% endif %}
    {% endblock %}



{% block fos_user_content %}
    <h2>
        <center>Promijeni šifru</center>
    </h2>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
