{% extends 'Student/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table_student.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Popis studenata
{% endblock %}

{% block navBarLinks %}
    <li class="active"><a href="{{ path('mentor_studenti') }}">Studenti</a></li>
    <li><a href="{{ path('subject_index') }}">Predmeti</a></li>
    <li><a href="/profile/change-password">Promijeni lozinku</a></li>
    <li><a href="/logout">Odjavi se</a></li>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Student</th>
                    </tr>
                    </thead>
                    <tbody id="lista_studenata">
                    {% for student in studenti %}
                        <tr>
                            <td>
                                <a href="{{ path('mentor_studentList', {'id': student.id}) }}">{{ student.username }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mentor_studenti.js') }}"></script>
{% endblock %}