{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/centerForm.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Resetiranje šifre
{% endblock %}

{% block navBarLinks %}
    <li><a href="/login">Logiraj se</a></li>
    <li><a href="/register">Registriraj se</a></li>
{% endblock %}

{% block fos_user_content %}
    <h2><center>Resetiraj šifru</center></h2>
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
