{% extends 'Home/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/Home/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Naslovna
{% endblock %}

{% block navBarLinks %}
    <li><a href="/login">Logiraj se</a></li>
    <li><a href="/register">Registriraj se</a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row pagination-centered">
            <div class="col-md-6 col-md-offset-3">
                <h2>Web studenata IT odjela za stručne studije</h2>
                <p>
                    Na ovom webu imate pristup svim upisanim i položenim predmetima. <br/>
                    Sve što trebate napraviti je registrirati se i potvrditi registraciju mailom. <br/>
                    Ukoliko ste već registrirani, logirajte se.
                </p>
            </div>
        </div>
    </div>
{% endblock %}